.input-class {
	position: relative;
	left: 5%;
}

.search-item-btn {
	position: relative;
	left: 0%;
	margin-top: 0px;
	width: 100%;
}

.br-edges {
			border-radius: 15px;
		}
.user {
			/*margin-right: 16px;*/
			height: 450px;
			margin-bottom: 10px;
			opacity: 0.7;
		}

.user-image-pic {
	height: 200px;
	width: 200px;
	border: 2px solid purple;
	border-radius: 5px;
	position: relative;
	margin-top: 4%;

}

.user-name {
	position: relative;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1px;
	float: left;
	width: 100%;
	font-size: 125%;
	overflow: hidden;
	color: black;
}

.col-lg {
	border: 2px solid purple;
}

.left-user-panel {
	background: grey;
	width: 20%;
	height: 95%;
	margin-top: 1%;
	border-radius: 5px;
	float: left;
}

.set-budget {
	position: relative;
	right: 5%;
}

.search-item {
	position: relative;
	right: 5%;
	margin-top: 5px;
}

.show-search {
	border: 2px solid purple;
	border-radius: 5px;
	margin-top: 1%;
	margin-left: 3%;
	height: 95%;
	width: 77%;
	float: left;

}

.show-search-container{
	position: relative;
	margin-top: 1%;
	margin-left: 1%;
	height: 95%;
	width: 98%;
	overflow: auto;
}

.show-search-container::-webkit-scrollbar {
    width: 1em;
}
 
.show-search-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(227, 233, 242,0.7);
}
 
.show-search-container::-webkit-scrollbar-thumb {
  background-color: purple;
  outline: 1px solid purple;
}