.br-edges {
			border-radius: 15px;
		}
.user {
			/*margin-right: 16px;*/
			height: 450px;
			margin-bottom: 10px;
			opacity: 0.7;
		}

.user-image-pic {
	height: 200px;
	width: 200px;
	border: 2px solid purple;
	border-radius: 15px;
	position: relative;
	margin-top: 4%;
	
}

.user-name {
	position: relative;
	left: 20%;
}

.col-md {
	border: 2px solid purple;
}

.left-user-panel {
	background: grey;
	width: 20%;
	height: 94%;
	margin-top: 1%;
	border-radius: 15px;
}

.set-budget {
	position: relative;
	right: 5%;
}

.search-item {
	position: relative;
	right: 5%;
	margin-top: 5px;
}

.show-search {

}

#chart-container {
	height: 100px;
	width: 100px;
	border: 2px solid black;
}

